<?xml version="1.0"?>
<sdf version="1.7">
    <xacro_define_property name="projectile_r" value="0.021" />
    <xacro_define_property name="projectile_m" value="0.041" />
    <xacro_include_definition uri="model://rm_projectile_17mm/model.sdf.xacro" />
    <model name="rm_projectile_42mm">
        <xacro_macro name="rm_projectile" suffix="_42mm" m="${projectile_m}" r="${projectile_r}"/>
    </model>
</sdf>